<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://miranda.upc.uniba.sk:3306/sport_app_dev?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">sport_app_dev</property>
    <property name="hibernate.connection.password">I19H3X8jpcqH9WDT</property>
    <mapping class="com.so.dal.model.SeasonTournamentRound"/>
    <mapping class="com.so.dal.model.Season"/>
    <mapping class="com.so.dal.model.SeasonTournament"/>
    <mapping class="com.so.dal.model.RegistrationTeam"/>
    <mapping class="com.so.dal.model.SeasonTournamentPeriod"/>
    <mapping class="com.so.dal.model.SportFlorbalGameShots"/>
    <mapping class="com.so.dal.model.SeasonTournamentGroup"/>
    <mapping class="com.so.dal.model.Resource"/>
    <mapping class="com.so.dal.model.SportFlorbalGoalType"/>
    <mapping class="com.so.dal.model.CompetitorTeamPlayer"/>
    <mapping class="com.so.dal.model.Person"/>
    <mapping class="com.so.dal.model.SportFlorbalGameActivityType"/>
    <mapping class="com.so.dal.model.SeasonTournamentSettings"/>
    <mapping class="com.so.dal.model.Tournament"/>
    <mapping class="com.so.dal.model.Team"/>
    <mapping class="com.so.dal.model.Penalty"/>
    <mapping class="com.so.dal.model.RegistrationPlayer"/>
    <mapping class="com.so.dal.model.CompetitorTeam"/>
    <mapping class="com.so.dal.model.SeasonTournamentLocation"/>
    <mapping class="com.so.dal.model.GamePlayer"/>
    <mapping class="com.so.dal.model.SportFlorbalGameActivity"/>
    <mapping class="com.so.dal.model.SeasonTournamentPenaltySettings"/>
    <mapping class="com.so.dal.model.SportFlorbalGame"/>
  </session-factory>
</hibernate-configuration>
